.DS_Store

*.so.*
*.tar.gz
*.egg-info*
instant_test_output
inference_test_output

__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project dirs
/datasets/BOP_DATASETS/*
/datasets/detections/*
/datasets/symnet_code/*
/datasets/VOCdevkit/*
/datasets/zebrapose_code/*
/output/*
/pretrained_backbone/*
