cython
plyfile

pycocotools~=2.0.5

cffi~=1.15.1
ninja
setproctitle~=1.3.2
fastfunc
meshplex
OpenEXR
vispy>=0.6.4
tabulate~=0.9.0
pytest-runner
pytest
ipdb
tqdm~=4.64.1
numba~=0.56.3
mmcv
imagecorruptions
pyassimp==4.1.3  # 4.1.4 will cause egl_renderer SegmentFault
pypng
albumentations
transforms3d~=0.4.1
pyquaternion
torchvision~=0.11.0+cu111
open3d
fvcore~=0.1.5.post20220512
tensorboardX

pytorch-lightning==1.7.7
fairscale
deepspeed

chardet~=5.0.0
six~=1.16.0
numpy~=1.23.4
termcolor~=2.0.1
opencv-python~=4.6.0.66
scikit-image~=0.19.3
loguru~=0.6.0
scipy~=1.9.3
imageio~=2.22.2
pyyaml~=6.0
matplotlib~=3.6.1
scikit-learn~=1.1.2
pandas~=1.5.1
torch~=1.10.0+cu111
cyglfw3~=3.1.0.2
trimesh~=3.15.8
moderngl~=5.7.0
detectron2~=0.6+cu111
torchsummary~=1.5.1